{% extends "base.html" %}
{% block content %}
  <h1>
    Newspaper list
    <a href="#" class="link-to-page btn btn-primary">Create</a>
  </h1>
  {% if newspaper_list %}
    <ul>
      {% for newspaper in newspaper_list %}
        <li>
          <a href="{% url 'agency:newspaper-detail' pk=newspaper.id %}">{{ newspaper.id }}</a>
          {{ newspaper.title }}
        </li>
        <p>{{ newspaper.context }}</p>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no topics!</p>
  {% endif %}
{% endblock %}
