{% extends "layouts/base-presentation.html" %}

{% block content %}
  <div class="container mt-5 pt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5">
        <h1 class="mb-4 text-center">Delete newspaper?</h1>
        <p class="lead text-center">*Newspaper title: {{ newspaper.title }}</p>
        <form action="" method="post" class="d-flex justify-content-center gap-3">
          {% csrf_token %}

          <input type="submit" value="Yes, delete" class="btn btn-danger">
          <a href="{% url 'agency:newspaper-list' %}" class="btn btn-secondary">Cancel</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
