# Django
SECRET_KEY=your_secret_key
DEBUG=True
DJANGO_SETTINGS_MODULE=<path_to_settings_file>
RENDER_EXTERNAL_HOSTNAME=<domain>

# DB
POSTGRES_DB=<db-name>
POSTGRES_DB_PORT=<db-port>
POSTGRES_USER=<db-user>
POSTGRES_PASSWORD=<db-password>
POSTGRES_HOST=<db-host>
